<p style="color: green"><%= notice %></p>

<%= render @shot %>

<div>
  <% if current_user.id == @shot.user_id %>
  <%= link_to "Edit this shot", edit_shot_path(@shot) %> |
  <%= link_to 'Destroy this shot', @shot, data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  <% end %>

  <p class="control">
  <%= link_to "Back to shots", shots_path %>
  </p>

</div>
