<p style="color: green"><%= notice %></p>

<%= render @shot %>

<div>
  <%= link_to "Edit this shot", edit_shot_path(@shot) %> |
  <%= link_to "Back to shots", shots_path %>

  <%= button_to "Destroy this shot", @shot, method: :delete %>
</div>
